[submodule "docs/reveal.js"]
	path = docs/reveal.js
	url = https://github.com/hakimel/reveal.js
[submodule "docs/plugins/collection"]
	path = docs/plugins/collection
	url = https://github.com/rajgoel/reveal.js-plugins.git
[submodule "docs/plugins/menu"]
	path = docs/plugins/menu
	url = https://github.com/denehyg/reveal.js-menu.git
[submodule "CV/FortySecondsCV"]
	path = CV/FortySecondsCV
	url = https://github.com/PandaScience/FortySecondsCV.git
